# Telegram
BOT_TOKEN=8388544428:AAFv4J62K_sXq2O7_OUXh0CyvXRHJbmixCI
ADMIN_IDS=1229317685
SUPPORT_USERNAME=HideBroSupport

# Infrastructure
POSTGRES_DSN=postgresql+asyncpg://hidebro:hidebro@postgres:5432/hidebrovpn
REDIS_DSN=redis://redis:6379/0
APP_TIMEZONE=Europe/Moscow
LOG_LEVEL=INFO

# Remnawave
REMNAWAVE_BASE_URL=https://panel.hidebrovpn.ru
REMNAWAVE_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1dWlkIjoiYzY1MzA4ZTgtNmFhMS00MDUzLTkwZjMtZDQ3ODRkMzBjZTZjIiwidXNlcm5hbWUiOm51bGwsInJvbGUiOiJBUEkiLCJpYXQiOjE3NzQ0Nzk5NjEsImV4cCI6MTA0MTQzOTM1NjF9.k_73_F09LPbk9l4w1W79Swu9Uj-tCcX9AumAhyB03Ec
REMNAWAVE_ADMIN_USERNAME=
REMNAWAVE_ADMIN_PASSWORD=
REMNAWAVE_INTERNAL_SQUAD_UUID=00000000-0000-0000-0000-000000000000
REMNAWAVE_TIMEOUT_SEC=20
DEVICE_LIMIT=3
USERNAME_PREFIX=HideBro_
USERNAME_MIN_DIGITS=6
USERNAME_MAX_DIGITS=7
FREE_TRIAL_DAYS=3
REFERRAL_BONUS_DAYS=5

# Payments
PAYMENTS_PROVIDER=yookassa
YOOKASSA_SHOP_ID=1233414
YOOKASSA_SECRET_KEY=live_6vnbZx9XGGtqXmWrDq3EGu_2OlGqPQkZ8S96HRkMn7E
YOOKASSA_RETURN_URL=https://t.me/HideBroBot